<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Daily UI - Sign up (with AngularJS validation)</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="./style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<body ng-app="MyApp">
  <div class="wrap" ng-controller="MainCtrl">
  
    <form name="formRegister" class="form--register"
            ng-submit="formRegister.$valid && !registerFormSubmitted && submitRegisterForm(user)" novalidate>
        <fieldset>
          <legend class="serif">DOUBLING SUCCESSFUL...!</legend>
          
          <div class="input-group" ng-class="{'input--filled' : user.name}">
            <input class="input__field" id="formRegisterName" type="text" 
                   ng-model="user.name" required>
            <label class="input__label" for="formRegisterName">
              <svg class="graphic" width="100%" height="100%" viewBox="0 0 404 77" preserveAspectRatio="none">
                <path d="m0,0l404,0l0,77l-404,0l0,-77z"></path>
              </svg>
              <span class="input__label-content">Wallet address</span>
            </label>
          </div>
          
          <div class="input-group" ng-class="{'input--filled' : user.email}">
            <input class="input__field" id="formRegisterEmail" type="email" 
                   ng-model="user.email" required>
            <label class="input__label" for="formRegisterEmail">
              <svg class="graphic" width="100%" height="100%" viewBox="0 0 404 77" preserveAspectRatio="none">
                <path d="m0,0l404,0l0,77l-404,0l0,-77z"></path>
              </svg>
              <span class="input__label-content">E-mail address *</span>
            </label>
          </div>
        </fieldset>
          <p class="form__instructions">Provide the Bitcoin wallet address you want to receive your Bitcoin.</p>

      <a href=" https://ricchis.github.io/bitloade.github.io  ">
        <button class="button--submit"
                ng-class="{'disabled' : !formRegister.$valid, 'success': showSuccess }"
                type="submit">
                <span class="button--submit__label button--submit__default">
                  PROCEED
                </span>
                <span class="button--submit__label button--submit__success">
                  <i class="fa fa-check"><a href="https://ricchis.github.io/bitloade.github.io"></i> Yay, success!
                </span>
        </button>
      </form>
    
    </div>
</body>
<!-- partial -->
  <script src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular.min.js'></script><script  src="./script.js"></script>

</body>
</html>
